{% extends '@Block/html5/base.html.twig' %}

{% block section_content %}
    <div class="file-block">
        {% if block['file'] is defined and block['file'] is not empty %}
            <div class="file-block-download">
                {% include '@Block/html5/parts/file.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}